h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    background-color: deepskyblue;
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 16px;
}

.item {
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: navy;
    color: white
}

.directions {
    font-family: monospace;
    font-size: 16px;
    border: thin;
}

#button li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: deepskyblue;
    margin: 15px;
    width: 100px;
    line-height: 24px;
}

#button li a {
    text-decoration: none;
    display: block;
}

#button li a:hover {
    text-decoration: underline;
}