h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    background-color: deepskyblue;
    color: white;
    text-align: center;
}

.item {
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: navy;
    color: white
}

.directions {
    font-family: monospace;
    font-size: 16px;
    border: thin;
}